<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img src="https://jonescesarn.github.io/Pixel-Project/img/logolan.png" alt="" style="width: 100px;">
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
      <% categories.forEach(category => { %>
      
        <li class="nav-item active">
          <a class="nav-link" href="/category/<%= category.slug %>"><%= category.title %></a>
        </li>

      <% }) %>
      </ul>
    
    </div>
  </nav>