<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
          <h2>Links</h2>
        </div>
        <div class="card-body">
            
                <label for="">Categoria</label>
                    <ul>
                    <% categories.forEach((category) => { %>
                        <li><%= category.title %></li>
                    <% }) %>
                    </ul>
                <br>
            
        </div><!-- card-body -->
    </div><!-- card -->
</div>


<%- include ('../partials/footer') %>
